*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

h1{
    font-family: "Oswald", sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: rgb(255, 255, 255);
    /* border: 5px solid rgb(5, 49, 145); */
    border-top: 10px ;
    border-radius: 30px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    /* padding: 10px; */
    padding: 10px 5px 5px 10px;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
    /* margin: 20px; */
    margin: 20px 10px 20px 10px;
}

p{
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 30px;
}

.p1{
    background-color: darkgray;
    box-shadow: 0px 0px 10px 10px grey;
}

.video1{
    border-radius: 30px;
}

