*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

.h1f{
    font-family: "Oswald", sans-serif;
}

.pf{
    font-family: Arial, Helvetica, sans-serif;
}


.body1f{
    background-image: url(https://wallpapers.com/images/hd/free-fire-pictures-5lken9okursv4rw6.jpg);
    
}

.h1f{
    background-color: rgb(255, 255, 255);
    /* border: 5px solid rgb(5, 49, 145); */
    border-top: 10px ;
    border-radius: 30px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    /* padding: 10px; */
    padding: 10px 5px 5px 10px;
    /* margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
    /* margin: 20px; */
    margin: 20px 10px 20px 10px;
}
 
.p1f{
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 30px;
}
.p2f{
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 30px;
}

.h1f{
    color: white;
    background-color: black;
}

.p1f{
    
    background-color: darkgray;
    box-shadow: 0px 0px 10px 10px grey;
    margin: -240px 0 150px 135px ;
}
.p2f{
    background-color: darkgray;
    box-shadow: 0px 0px 10px 10px grey;
    margin: 240px 20px 35px 1300px;
}

.video1f{
    margin: 20px 80px 20px 20px;
    padding: 1px 0 0 0 ;
    border:  15px rgb(0, 0, 0);
    border-style: groove;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 10px black;
    width: 600px; 
    height: 300px;
    
}
.video2f{
    margin: -1000px 80px 220px 20px;
    padding: 1px 0 0 0 ;
    /* border:  15px rgb(0, 0, 0);
    border-style: groove;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 10px black; */
    width: 180px; 
    height: 350px;
    
}
.img1f{
    margin: -220px 20px 20px 80px;
    padding: 1px 0 0 0 ;
    border:  15px rgb(0, 0, 0);
    border-style: groove;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 10px black;
    width: 600px; 
    height: 300px;
}
/* ____________________________________________________________________________________________________________________________ */

.body2b{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeM8gQrNU6QZs6H5exWd3xXJWaKGjhg0RDmA&s);
    background-size: cover;
}

.h1b{
    background-color: rgb(255, 255, 255);
    border-top: 10px ;
    border-radius: 30px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    padding: 10px 5px 5px 10px;
    margin: 20px 10px 20px 10px;
}

.pb{
    width: 500px;
    height: 145px;
    padding: 10px;
    margin: 30px 30px 30px 750px;
    background-color: white;
    border:  solid black;
    box-shadow: 0px 0px 10px 10px grey;
}

.pb2{
    width: 500px;
    height: 100px;
    padding: 10px;
    margin: 30px 30px -50px 750px;
    background-color: white;
    border:  solid black;
    box-shadow: 0px 0px 10px 10px grey;
    
}

.img1{
    margin: -130px 30px 30px 30px;
    float: right;
}

.img2{
    margin: -130px 30px 30px 30px;
    float: left;
}

/* ________________________________________________________________________________________________________________________________________ */
.body3a{
    background-image: url(https://assets-cdn.wellhub.com/images/?su=https://images.partners.gympass.com/image/partners/327e7adb-9cf3-419d-866a-be850514ca15/lg_6607c736-4d13-426e-aef6-f31611bc4a46_Capturadetela20250409174622.png);
    background-size: cover;
}


.h1a{
    background-color: rgb(255, 255, 255);
    border-top: 10px ;
    border-radius: 30px;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    padding: 10px 5px 5px 10px;
    margin: 20px 10px 20px 10px;
}

.p1a{
    width: 500px;
    height: 110px;
    padding: 10px;
    margin: 50px 30px 30px 37%;
    background-color: white;
    border:  solid black;
    box-shadow: 0px 0px 10px 10px grey;
}

.img1a{
    text-align: center;
}



a{
    font-family: "Caveat", cursive;
    color: rgb(0, 13, 255);
    font-size: large;
    float: left;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(17, 0, 248); padding: 10px; 
}